---
import Main from "../layouts/Main.astro";
---

<Main>
    <div class="h-[1000px]">
      <h1 class="text-[48px] font-semibold">Agencia de viajes</h1>
      <a href="/contacto">contacto</a>
    </div>
</Main>

