---
import Request from "../components/Request";
import Main from "../layouts/Main.astro";



const info = await fetch("https://jsonplaceholder.org/posts/1")

const data = await info.json()

console.log(data)



---

<Main>
  <div class="h-[1000px] mx-[150px]">
    <figure class="h-[140px] w-full "></figure>
    <div class="flex flex-row items-start justify-between">
      <h1 class="text-[64px] font-extrabold text-pink-700 ">Paquetes</h1>
      <div class="ml-20 gap-5 flex flex-col">
        
        <span class="text-[16px] font-semibold text-gray-700">
          Los vuelos son un medio de transporte que nos permite viajar a otros
          lugares de forma rápida y segura. Con el fin de ofrecer una
          experiencia de viaje más agradable, nosotros ofrecemos vuelos a todas
          las edades y con diferentes tipos de vuelos.  Los vuelos son un medio de transporte que nos permite viajar a otros
          lugares de forma rápida y segura. Con el fin de ofrecer una
          experiencia de viaje más agradable, nosotros ofrecemos vuelos a todas
          las edades y con diferentes tipos de vuelos.
        </span>
        <span class="text-[16px] font-semibold text-gray-700">
          Los vuelos son un medio de transporte que nos permite viajar a otros
          lugares de forma rápida y segura. Con el fin de ofrecer una
          experiencia de viaje más agradable, nosotros ofrecemos vuelos a todas
          las edades y con diferentes tipos de vuelos.
        </span>


      </div>
    </div>
  </div>
  <Request />

</Main>

