---
import Main from "../layouts/Main.astro";
import { db, Subscriptions } from "astro:db";

const sub = await db.select().from(Subscriptions);
await db.insert(Subscriptions).values({ email: "john@examplee.com" });

---

<Main>
  <div class="h-[1000px] mx-[150px]">
    <figure class="h-[140px] w-full "></figure>
    <div class="flex flex-row items-start justify-between">
      <h1 class="text-[64px] font-extrabold text-pink-700 ">Promociones</h1>
      {
        sub.map(({ id, email })=>{
          return <div class="flex flex-row items-center justify-between">
            <p>{ id }</p>
            <p class="text-[16px] font-bold text-pink-700 ">{email}</p>
          </div>
        })
      }
    </div>
  </div>
</Main>
