---
import Main from "../layouts/Main.astro";
import { db, Subscriptions } from "astro:db";

export const prerender = false;
const all = await db.select().from(Subscriptions)
console.log(all)


---

<Main>
  <div class="h-[1000px] mx-[150px]">
    <figure class="h-[140px] w-full "></figure>
    <div class="flex flex-row items-start justify-between">
      <h1 class="text-[64px] font-extrabold text-pink-700 ">Promociones</h1>
      <div class="flex flex-col items-start justify-between">
      </div>
    </div>
  </div>
</Main>
