---
import Request from "../components/Request";
import Main from "../layouts/Main.astro";
---



<Main>
  <img class="absolute inset-0 w-full h-full object-cover z-0 filter blur-sm" src="/sections/tours.webp" alt="Recorridos" />  
  <figure class="h-[100px]"></figure>
  <div class="relative mx-[150px]">
    <div class="relative z-10 flex flex-row items-start justify-between p-10 bg-opacity-50">
      <h1 class="text-[64px] font-extrabold text-white">Recorridos</h1>
      <div class="ml-20 gap-5 flex flex-col">
        <span class="text-[16px] font-semibold text-white">
          En <strong>Viajes Rosales</strong> nos dedicamos a transformar sus
          sueños de viaje en realidad con nuestros servicios especializados en
          la organización de recorridos. Entendemos que cada viajero es único,
          por lo que ofrecemos una experiencia personalizada para encontrar
          los recorridos que mejor se adapten a sus intereses y presupuesto.
        </span>
        <h2 class="text-[18px] font-semibold text-white">
          Selección de Recorridos
        </h2>
        <span class="text-[16px] font-semibold text-white">
          En Viajes Rosales, nos aseguramos de ofrecer una amplia variedad de recorridos por destinos fascinantes alrededor del mundo. Desde visitas culturales hasta aventuras al aire libre, trabajamos para satisfacer sus preferencias y proporcionarle experiencias únicas.
        </span>
        <h2 class="text-[18px] font-semibold text-white">
          Nuestro Servicio Integral
        </h2>
        <span class="text-[16px] font-semibold text-white">
          La satisfacción del cliente es nuestra prioridad en Viajes Rosales. No solo le proporcionamos opciones excepcionales de recorridos, sino que también ofrecemos un servicio integral que incluye asistencia continua durante todo el viaje.
        </span>

      </div>
    </div>
  </div>
  <Request client:load />
</Main>

<style>
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  span {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
  }

  h1 {
    animation: fadeInUp 1s ease forwards;
  }

  h2 {
    animation: fadeInUp 1s ease forwards;
  }

  li {
    animation: fadeInUp 1s ease forwards;
  }

  span:nth-child(1) {
    animation-delay: 0.1s;
  }

  span:nth-child(2) {
    animation-delay: 0.3s;
  }

  span:nth-child(3) {
    animation-delay: 0.5s;
  }

  span:nth-child(4) {
    animation-delay: 0.7s;
  }
</style>
