<footer class="w-full grid grid-cols-1 md:grid-cols-3  font-semibold bg-gray-800 px-10 text-white py-8 gap-5 ">

    <div class="">
        <a class="font-bold text-white hover:text-gray-100 text-[32px]" href="/">
            Viajes Rosales
        </a>
    </div>

    <div class="flex flex-col ">
        <span class="text-[18px] font-bold text-white">
            Servicios
        </span>
        <a class="text-white/50 font-normal hover:text-white text-[14px]" href="/">
            Cruceros
        </a>
        <a class="text-white/50 font-normal hover:text-white text-[14px]" href="/">
            Vuelos
        </a>
        <a class="text-white/50 font-normal hover:text-white text-[14px]" href="/">
            Hoteles
        </a>
        <a class="text-white/50 font-normal hover:text-white text-[14px]" href="/">
            Recorridos
        </a>
        <a class="text-white/50 font-normal hover:text-white text-[14px]" href="/">
            Paquetes
        </a>
    </div>

    <div class="flex flex-col ">
        <span class="text-[18px] font-bold text-white">
            Saber mas
        </span>
        <a class="text-white/50 font-normal hover:text-white text-[14px]" href="/about">
            Sobre nosotros
        </a>

    </div>

</footer>