
<article class="w-full h-[500px] mb-20">
    <img class="w-full h-[500px] absolute -z-10 object-cover contrast-[70%]" src="/public/promotions/promotion-01.webp" />
    <div class="flex flex-col px-28 justify-center h-full w-full gap-6">
        <span class="text-[56px] font-bold text-white leading-[70px]">
            We develop conceptual designs through to the final details
        </span>
        <button class="border w-[200px] hover:bg-gray-100/50 px-4 py-2 rounded-full border-white text-white font-semibold">
            Our services
        </button>
    </div>
</article>  