
<article class="w-full h-[500px]">
    <img class="w-full h-[500px] absolute -z-10 object-cover contrast-[70%]" src="/promotions/promotion-01.webp" />
    <div class="flex flex-col px-28 justify-center h-full w-full gap-6">
        <span class="text-[32px] font-bold text-white leadin">
            En <strong>Viajes Rosales</strong> nos dedicamos a transformar sus
            sueños de viaje en realidad con nuestros servicios especializados.
        </span>
        <a href="#contact" class="border w-[200px] hover:bg-gray-100/50 px-4 py-2 rounded-full border-white text-white font-semibold items-center justify-center flex">
            Contactenos
        </a>
    </div>
</article>  